openapi: 3.0.0
info:
  title: Your API
  version: 1.0.0
paths:
  /data:
    get:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                min_percent:
                  type: number
                max_percent:
                  type: number
                max_sum:
                  type: number
                max_months:
                  type: integer
                personalInfo:
                  type: object
                  properties:
                    age:
                      type: integer
                    experience:
                      type: integer
                financialInfo:
                  type: object
                  properties:
                    monthlyCreditPayments:
                      type: number
                    monthlyIncome:
                      type: number
                    openLoans:
                      type: integer
                collateralInfo:
                  type: object
                  properties:
                    collateralType:
                      type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  body:
                    type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: $main_function_id
        service_account_id: $sa_id
